In [10]:
2+2

4

In [18]:
import numpy as np
import pandas as pd
import matplotlib as mtp

In [26]:
cargos_com = pd.read_excel ('C:/Users/Catalina/Desktop/ADN/T_CARGOS_COMISION.xls')
cargos_com.head()

,NRO_COMISION,TIPO,DESCRIPCION,NRO_DE_ORDEN,APELLIDO,NOMBRE,GENERO,CARGO,DESCRIPCION_CARGO,DESCRIPCION_CARGO_GEN,PAR_CODIGO,PARTIDO,BLO_CODIGO,BLOQUE,JERARQUIA,ID
0,71,P,DE ACUERDOS,482,MARTÍNEZ,JULIO CÉSAR,M,VOC,VOCAL,VOCAL,103.0,CAMBIEMOS FUERZA CIVICA RIOJANA,10.0,UNIÓN CÍVICA RADICAL,22,33986
1,71,P,DE ACUERDOS,294,MAYANS,JOSÉ MIGUEL ÁNGEL,M,VOC,VOCAL,VOCAL,100.0,FRENTE DE LA VICTORIA,54.0,FRENTE DE TODOS,22,33984
2,71,P,DE ACUERDOS,455,PAIS,JUAN MARIO,M,VOC,VOCAL,VOCAL,52.0,ALIANZA FRENTE PARA LA VICTORIA,54.0,FRENTE DE TODOS,22,33987
3,71,P,DE ACUERDOS,504,PARRILLI,OSCAR ISIDRO,M,VOC,VOCAL,VOCAL,121.0,FRENTE DE TODOS,54.0,FRENTE DE TODOS,22,33998
4,71,P,DE ACUERDOS,513,RODRÍGUEZ,MATÍAS DAVID,M,VOC,VOCAL,VOCAL,121.0,FRENTE DE TODOS,54.0,FRENTE DE TODOS,22,33985

In [24]:
cargos_com.isnull().sum()  #valores nan

NRO_COMISION               0
TIPO                       0
DESCRIPCION                0
NRO_DE_ORDEN               0
APELLIDO                   0
NOMBRE                     0
GENERO                     0
CARGO                      0
DESCRIPCION_CARGO          0
DESCRIPCION_CARGO_GEN      0
PAR_CODIGO               389
PARTIDO                  389
BLO_CODIGO               389
BLOQUE                   389
JERARQUIA                  0
ID                         0
dtype: int64

In [39]:
anuel = cargos_com [['CARGO', 'DESCRIPCION_CARGO']]
anuel

    CARGO DESCRIPCION_CARGO
0     VOC             VOCAL
1     VOC             VOCAL
2     VOC             VOCAL
3     VOC             VOCAL
4     VOC             VOCAL
..    ...               ...
964   VOC             VOCAL
965   VOC             VOCAL
966   VOC             VOCAL
967   VOC             VOCAL
968   VOC             VOCAL

[969 rows x 2 columns]